body {
  margin: 0px;
  font-family: "Roboto";
}

#container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 100vh;
}

#top-navbar {
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: auto;
  left: 0px;
  top: 0px;
  background-color: #fff1d6;
  border-radius: 0px 0px 30px 30px;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.25);
}
#top-navbar .img-logo {
  display: flex;
  margin: 0 auto;
  height: 30vw;
  width: auto;
  padding: 2vw;
  transition: height 1s;
}
#top-navbar .title-aba {
  text-align: center;
  color: #2A0001;
  line-height: 5vh;
  font-size: 7vw;
  margin: 0 0;
  line-height: 0;
  font-weight: bold;
  transition: font-size 1s;
}

.top-navbar-big {
  text-align: center;
  flex-direction: column !important;
}
.top-navbar-big .img-logo {
  height: 60vw !important;
}

.title-aba-big {
  margin-bottom: 3vh !important;
  font-size: 5vw !important;
  line-height: 28px !important;
  font-weight: normal !important;
}

.tabcontent {
  display: none;
  margin-top: 60%;
  border-top: none;
  text-align: justify;
  font-family: "Roboto";
  transition: margin-top 1s;
}

.small {
  margin-top: 110% !important;
}

#agendar {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#agendar .fixed-top {
  position: fixed;
  backdrop-filter: blur(2px);
}
#agendar .progress-navbar {
  padding: 3vh 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  width: 100vw;
}
#agendar .progress-navbar i {
  font-size: 5vw;
  text-align: center;
}
#agendar .progress-navbar button {
  position: relative;
  width: 12vw;
  height: 12vw;
  background: #9B9B9B;
  border-radius: 10px;
  color: #2A0001;
}
#agendar .progress-navbar button.active {
  background: #2A0001;
  color: #fff;
}
#agendar .progress-navbar .dot {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.5vw;
  color: #2A0001;
}
#agendar .progress-navbar .inactive {
  pointer-events: none;
}
#agendar .tabcontent {
  background: #2A0001;
  color: #fff1d6;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 80%;
}
#agendar .tabcontent h2 {
  font-size: 6vw;
  margin-left: 5vw;
}
#agendar .tabcontent button {
  display: flex;
  border: none;
  margin-bottom: 1vh;
  width: 100%;
  background-color: inherit;
  border-bottom: 3px solid #fff1d6;
  padding: 2vw 3vh;
}
#agendar .tabcontent .barbeiro p {
  text-align: left;
  font-size: 4vw;
  margin-top: 3vw;
  margin-left: 5vw;
  line-height: 4vw;
}
#agendar .tabcontent .barbeiro img {
  border-radius: 50%;
  width: 15vw;
  height: auto;
  border: 2px solid #fff1d6;
}
#agendar .tabcontent .barbeiro i {
  color: #FFD075;
  font-size: 3vw;
}
#agendar .done {
  background-color: #698C5F !important;
  transition: background-color 0.7s;
  -webkit-animation: blink 0.7s both;
  animation: blink 0.7s both;
}
iframe {
  position: relative;
  border: none;
  width: 100%;
  height: 90vh;
  overflow: auto;
}

#bottom-navbar {
  background-color: #2A0001;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}
#bottom-navbar button {
  position: relative;
  background-color: inherit;
  width: 20vw;
  height: 20vw;
  border-radius: 10px;
  border: 0px;
  line-height: 2.5vh;
  font-size: 3vw;
  text-align: center;
  color: #fff1d6;
}
#bottom-navbar button.active {
  background: #f2f2f2;
  color: #2A0001;
  animation: slide-top-navbar 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
#bottom-navbar i {
  font-size: 4vw;
}

#perfil .logo-holder {
  display: flex;
  flex-wrap: nowrap;
}
#perfil .top-navbar {
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 85vh;
  font-family: "Roboto";
}
#perfil .img-logo {
  width: 40vh;
  height: auto;
}
#perfil h2 {
  padding-top: 2vh;
  line-height: 3vh;
  text-align: center;
}
#perfil form {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
}
#perfil input {
  display: flex;
  border: none;
  border-bottom: 0.5vw solid #2A0001;
  background-color: inherit;
  text-align: center;
  padding-top: 2vh;
  margin-top: 2vh;
  font-size: 5vw;
  color: #2A0001;
}
#perfil ::placeholder {
  color: #2A0001;
  opacity: 0.8;
}
#perfil button {
  display: flex;
  border-radius: 60px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}
#perfil .continuar {
  margin-top: 8vh;
  background-color: #2A0001;
  color: #fff1d6;
  font-size: 3vh;
  padding: 2.5vh 20vw;
  border: none;
}
#perfil .cancelar {
  margin-top: 2vh;
  font-size: 2vh;
  padding: 2vh 8vw;
  color: #2A0001;
  background-color: inherit;
  border: 4px solid #2A0001;
}

/*CADASTRO*/
#cadastro h3 {
  font-style: normal;
  color: #2A0001;
  text-align: center;
  margin: 2vh 20vw 5vh 20vw;
  font-size: 4vw;
}
#cadastro form {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
}
#cadastro input {
  display: flex;
  border: none;
  border-bottom: 0.5vw solid #2A0001;
  background-color: inherit;
  text-align: center;
  margin: 2vh 15vw 0 15vw;
  font-size: 4vw;
}
#cadastro ::placeholder {
  color: #2A0001;
  opacity: 0.5;
}
#cadastro button {
  display: flex;
  border: none;
  background-color: #2A0001;
  color: #fff1d6;
  border-radius: 60px;
  font-size: 3vh;
  padding: 2.5vh 20vw;
  margin-top: 8vh;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}
#cadastro .cancelar {
  border: 0.5vw solid #2A0001;
  font-size: 4vw;
  background-color: inherit;
  color: #2A0001;
  border-radius: 60px;
  font-size: 3vh;
  padding: 2vh 10vw;
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

/*HISTORICO*/
#historico {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#historico .fixed-top {
  position: fixed;
  backdrop-filter: blur(2px);
}
#historico .progress-navbar {
  padding: 3vh 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  width: 100vw;
}
#historico .progress-navbar i {
  font-size: 5vw;
  text-align: center;
}
#historico .progress-navbar button {
  position: center;
  width: 20vw;
  height: 12vw;
  background: #9B9B9B;
  border-radius: 10px;
  color: #2A0001;
}
#historico .progress-navbar button:focus {
  background: #2A0001;
  color: #fff;
}
#historico .progress-navbar .done {
  background: #698C5F;
}
#historico .tabcontent {
  display: none;
  margin-top: 50vh;
  border-top: none;
  text-align: justify;
  font-family: "Roboto";
}
#historico .aba {
  display: flex;
  color: #fff1d6;
  background-color: #2A0001;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  width: 80vw;
  margin-bottom: 20vh;
}
#historico .aba2 {
  display: flex;
  color: #fff1d6;
  background-color: #2A0001;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  width: 80vw;
  margin-bottom: 20vh;
}
#historico p.boxmodel1 {
  width: 300px;
  height: 50px;
  background: #2A0001;
  color: #FFF;
}

/* PERFIL LOGADO */
#perfilogado .progress-navbar {
  padding: 3vh 0;
  display: flex;
  justify-content: space-around;
}
#perfilogado p.boxmodel1 {
  width: 250px;
  height: 250px;
  background: #2A0001;
  color: #FFF;
  position: relative;
}
#perfilogado button {
  display: flex;
  border: none;
  background-color: #2A0001;
  color: #fff1d6;
  border-radius: 60px;
  font-size: 3vh;
  padding: 2.5vh 20vw;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

/* EDITAR PEFIL*/
#editarperfil {
  display: flex;
  flex-flow: column nowrap;
  overflow: scroll;
}
#editarperfil .top-navbar {
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 90vh;
  font-family: "Roboto";
}
#editarperfil .img-logo {
  width: 30vh;
  height: auto;
}
#editarperfil h2 {
  line-height: 3vh;
  text-align: center;
}
#editarperfil form {
  padding-top: 3vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
}
#editarperfil input {
  display: flex;
  border: none;
  border-bottom: 0.5vw solid #2A0001;
  background-color: inherit;
  text-align: center;
  margin: 2vh 10vw 0 10vw;
  font-size: 4vw;
}
#editarperfil button {
  display: flex;
  border: none;
  background-color: #2A0001;
  color: #fff1d6;
  border-radius: 60px;
  font-size: 3vh;
  padding: 2vh 20vw;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}
#editarperfil .cancelar {
  border: 0.5vw solid #2A0001;
  font-size: 4vw;
  background-color: inherit;
  color: #2A0001;
  border-radius: 60px;
  font-size: 3vh;
  padding: 1vh 10vw;
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

@keyframes slide-top-logoholder {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(30%);
  }
}
@keyframes slide-top-navbar {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes slide-bck-left {
  0% {
    transform: translateZ(0) translateX(0);
  }
  100% {
    transform: translateZ(-400px) translateX(-200px);
  }
}
@-webkit-keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
