body {
  margin: 0px;
  font-family: "Roboto";
}

#container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 100vh;
}

#top-navbar {
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: auto;
  left: 0px;
  top: 0px;
  background-color: #fff1d6;
  border-radius: 0px 0px 30px 30px;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.25);
}
#top-navbar .img-logo {
  display: flex;
  margin: 0 auto;
  height: 30vw;
  width: auto;
  padding: 2vw;
}
#top-navbar .title-agendamento {
  padding-left: 5vw;
  text-align: center;
  color: #2A0001;
  line-height: 5vh;
  font-size: 5vw;
  margin: 0px;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
}

#agendar {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#agendar .fixed-top {
  position: fixed;
  backdrop-filter: blur(2px);
}
#agendar .progress-navbar {
  padding: 3vh 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  width: 100vw;
}
#agendar .progress-navbar i {
  font-size: 5vw;
  text-align: center;
}
#agendar .progress-navbar button {
  position: relative;
  width: 12vw;
  height: 12vw;
  background: #9B9B9B;
  border-radius: 10px;
  color: #2A0001;
}
#agendar .progress-navbar button:focus {
  background: #2A0001;
  color: #fff;
}
#agendar .progress-navbar .done {
  background: #698C5F;
}
#agendar .tabcontent {
  display: none;
  margin-top: 30vh;
  border-top: none;
  text-align: justify;
  font-family: "Roboto";
}
#agendar .unidade {
  display: flex;
  color: #fff1d6;
  background-color: #2A0001;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  width: 80vw;
  margin-bottom: 1vh;
}
#agendar #tabBarbeiro {
  flex-direction: row;
  flex-wrap: wrap;
}
#agendar .barbeiro {
  display: flex;
  color: #fff1d6;
  background-color: #2A0001;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  width: 30vw;
  height: 30vw;
  margin-bottom: 1vh;
}
#agendar .info {
  padding: 2vw 3vh;
}

iframe {
  position: relative;
  border: none;
  width: 100%;
  height: 90vh;
  overflow: auto;
}

#bottom-navbar {
  background-color: #2A0001;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}
#bottom-navbar button {
  position: relative;
  background-color: inherit;
  width: 62px;
  height: 62px;
  border-radius: 10px;
  border: 0px;
  line-height: 2.5vh;
  font-size: 3vw;
  text-align: center;
  color: #fff1d6;
}
#bottom-navbar button.active {
  background: #f2f2f2;
  color: #2A0001;
  animation: slide-top-navbar 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
#bottom-navbar i {
  font-size: 4vw;
}

#perfil .logo-holder {
  display: flex;
  flex-wrap: nowrap;
}
#perfil .top-navbar {
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 85vh;
  font-family: "Roboto";
}
#perfil .img-logo {
  width: 40vh;
  height: auto;
}
#perfil h2 {
  padding: 1vh 20vw 0 20vw;
  line-height: 3vh;
}
#perfil form {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
}
#perfil input {
  display: flex;
  border: none;
  border-bottom: 0.5vw solid #2A0001;
  background-color: inherit;
  text-align: center;
  padding-top: 2vh;
}
#perfil .celular {
  margin-top: 2vh;
  font-size: 5vw;
  color: #2A0001;
}
#perfil ::placeholder {
  color: #2A0001;
  opacity: 0.8;
}
#perfil button {
  display: flex;
  border: none;
  background-color: #2A0001;
  color: #fff1d6;
  border-radius: 60px;
  font-size: 3vh;
  padding: 2.5vh 20vw;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

@keyframes slide-top-logoholder {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(30%);
  }
}
@keyframes slide-top-navbar {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes slide-bck-left {
  0% {
    transform: translateZ(0) translateX(0);
  }
  100% {
    transform: translateZ(-400px) translateX(-200px);
  }
}
@-webkit-keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
    opacity: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
