$color-primary: #fff1d6;
$color-secondary: #2A0001;
$logoholder-animation-time: 0.7;

body {
    margin: 0px;
    font-family: 'Roboto';
}

#container{
    display: flex;
    flex-direction: column; 
    flex-wrap: nowrap;
    width: 100%;
    min-height: 100vh;
}

#top-navbar{
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: auto;
    left: 0px;
    top: 0px;
    background-color: $color-primary;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.25);
}

.img-logo{
    display: flex;
    margin: 0 auto;
    height: 30vw;
    width: auto;
    padding: 2vw;
}

.img-logo-min{
    height: 20vw;
    transition: height 0.7s;
}

.title-agendamento{
    padding-left: 5vw;
    text-align: center;
    color: $color-secondary;
    line-height: 3vw;
    font-size: 5vw;
    margin: 0px;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
}

#progress-navbar{
    padding: 3vh 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

#progress-navbar i{
    font-size: 5vw;
    text-align: center;
}

.progress-navbar-buttom{
    position: relative;
    width: 12vw;
    height: 12vw;
    background: #9B9B9B;
    border-radius: 10px;
    color: $color-secondary;
}

.progress-navbar-buttom:focus {
    background: $color-secondary;
    color: #fff;
}

.progress-navbar-buttom-ok{
    background: #698C5F;
}
 
.progress-navbar-icon{
    width: 25px;
    height: auto;
    align-content: center;
}

.progress-navbar-icon-dot{
    font-size: 12vw;
    margin: 0;
    line-height: 0;
    margin-top: 20px;
    color: $color-secondary;
    pointer-events: none
}

.toppart{
    position: fixed;
    width: 100vw;
    background-color: #FFF;
}

iframe{
    position: relative;
    border: none;
    width: 100%;
    height: 100vh;
    overflow: auto;
}


#bottom-navbar {
    background-color: $color-secondary;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.bottom-navbar button {
    position: relative;
    background-color: inherit;
    width: 62px;
    height: 62px;
    border-radius: 10px;
    border: 0px;
    line-height: 3vw;
    font-size: 1.8vw;
    text-align: center;
    color: $color-primary;
}

.bottom-navbar button.active {
    background: #f2f2f2;
    color: $color-secondary;
    animation: slide-top-navbar 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.bottom-navbar-icon{
    width: 4vw;
    height: auto;
}

#perfil{
    .logo-holder{
        display: flex;
        flex-wrap: nowrap;
    }
    .top-navbar{ 
        flex-direction: column;
        align-items: center;
        height: 85vh;
        font-family: 'Roboto'
    }
    .img-logo{
        width: 60vw;
        height: auto;
    }
    h2{
        padding: 8vw 10vw;
    }
    input{
        border: none;
        border-bottom: 0.5vw solid $color-secondary;
        background-color: inherit;
        text-align: center;
    }
    
    .celular{
        margin-top: 2vh;
        font-size: 5vw;
        color: $color-secondary;
    }
    ::placeholder{
        color: $color-secondary;
        opacity: 0.8;
    }
    
    button{
        display: flex;
        border: none;
        margin-top: 15vh;
        align-items: center;
        padding: 2vh 15vw 2vh 15vw;
        margin-bottom: 5vh;
        background-color: $color-secondary;
        color: $color-primary;
        border-radius: 30px;
        font-size: 6vw;
    }
}

@keyframes slide-top-logoholder {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(30%);
    }
}

@keyframes slide-top-navbar {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

@keyframes slide-bck-left {
  0% {
    transform: translateZ(0) translateX(0);
  }
  100% {
    transform: translateZ(-400px) translateX(-200px);
  }
}