$color-primary: #fff1d6;
$color-secondary: #2A0001;
$logoholder-animation-time: 0.7;

body {
    margin: 0px;
    font-family: 'Roboto';
}

#container{
    display: flex;
    flex-direction: column; 
    flex-wrap: nowrap;
    width: 100%;
    min-height: 100vh;
}

#top-navbar{
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: auto;
    left: 0px;
    top: 0px;
    background-color: $color-primary;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.25);
        
    .img-logo{
        display: flex;
        margin: 0 auto;
        height: 30vw;
        width: auto;
        padding: 2vw;
        
        transition: height 1s;
    }
    
    .title-aba{
        text-align: center;
        color: $color-secondary;
        line-height: 5vh;
        font-size: 7vw;
        margin: 0 0;
        line-height: 0;
        font-weight: bold;
        
        transition: font-size 1s;
    }
    
}

.top-navbar-big{
    text-align: center;
    flex-direction: column !important;
    .img-logo{
            height: 60vw !important;
        }
}

.title-aba-big{
    margin-bottom: 3vh !important;
    font-size: 5vw !important;
    line-height: 28px !important;
    font-weight: normal !important;
}

.tabcontent {
        display: none;
        margin-top: 60%;
        border-top: none;
        text-align: justify;
        font-family: 'Roboto';
    
        transition: margin-top 1s;
}

.small{
        margin-top: 110% !important;
}

#agendar{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    
    .fixed-top{
        position: fixed;
        backdrop-filter: blur(2px);
    }
    
    .progress-navbar{
        padding: 3vh 0;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        width: 100vw;
        
        
        i{
            font-size: 5vw;
            text-align: center;
        }
        
        button{
            position: relative;
            width: 12vw;
            height: 12vw;
            background: #9B9B9B;
            border-radius: 10px;
            color: $color-secondary;
        }
        
        button.active{
            background: $color-secondary;
            color: #fff;
        }
        
        
        .dot{
            margin-top: auto;
            margin-bottom: auto;
            font-size: 1.5vw;
            color: $color-secondary;
        }
        
        .inactive{
            pointer-events: none;
        }   
    }
    
    .tabcontent{
        background: $color-secondary;
        color: $color-primary;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        width: 80%;
        
        h2{
            font-size: 6vw;
            margin-left: 5vw;
        }
        
        button{
            display: flex;
            border: none;
            margin-bottom: 1vh;
            width: 100%;
            background-color: inherit;
            border-bottom: 3px solid $color-primary;
            padding: 2vw 3vh;
        }
        
        .barbeiro{

            
            p{
                text-align: left;
                font-size: 4vw;
                margin-top: 3vw;
                margin-left: 5vw;
                line-height: 4vw;
            }
            
            img{
                border-radius: 50%;
                width: 15vw;
                height: auto;
                border: 2px solid $color-primary;
            }
            
            i{
                color: #FFD075;
                font-size: 3vw;
            }
        }
    }
    
    .done{
        background-color: #698C5F !important;
        transition: background-color 0.7s;
        -webkit-animation: blink 0.7s both;
	        animation: blink 0.7s both;
     }

    
    .info{
        
    }
    
}
 

iframe{
    position: relative;
    border: none;
    width: 100%;
    height: 90vh;
    overflow: auto;
}


#bottom-navbar {
    background-color: $color-secondary;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    
    button {
        position: relative;
        background-color: inherit;
        width: 20vw;
        height: 20vw;;
        border-radius: 10px;
        border: 0px;
        line-height: 2.5vh;
        font-size: 3vw;
        text-align: center;
        color: $color-primary;
    }
    
    button.active {
        background: #f2f2f2;
        color: $color-secondary;
        animation: slide-top-navbar 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    i{
        font-size: 4vw;
    }
}

#perfil{
    .logo-holder{
        display: flex;
        flex-wrap: nowrap;
    }
    
    .top-navbar{ 
        flex-direction: column;
        align-items: center;
        align-content: center;
        height: 85vh;
        font-family: 'Roboto';
    }
    
    .img-logo{
        width: 40vh;
        height: auto;
    }
    
    h2{
        padding-top: 2vh;
        line-height: 3vh;
        text-align: center;
    }
    
    form{
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: nowrap;
    }
    
    input{
        display: flex;
        border: none;
        border-bottom: 0.5vw solid $color-secondary;
        background-color: inherit;
        text-align: center;
        padding-top: 2vh;
        margin-top: 2vh;
        font-size: 5vw;
        color: $color-secondary;
    }
    
    
    ::placeholder{
        color: $color-secondary;
        opacity: 0.8;
    }
    
    button{
        display: flex;
        border-radius: 60px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    }
    
    .continuar{
        margin-top: 8vh;
        background-color: $color-secondary;
        color: $color-primary;
        font-size: 3vh;
        padding: 2.5vh 20vw;
        border: none;
    }
    
    .cancelar{
        margin-top: 2vh;
        font-size: 2vh;
        padding: 2vh 8vw;
        color: $color-secondary;
        background-color: inherit;
        border: 4px solid $color-secondary;
    }
    
}
    
    /*CADASTRO*/
#cadastro {
    
    h3{
        font-style: normal;
        color: $color-secondary;
        text-align: center;
        margin: 2vh 20vw 5vh 20vw;
        font-size: 4vw;
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: nowrap;
    }
    
    input {
        display: flex;
        border: none;
        border-bottom: 0.5vw solid $color-secondary;
        background-color: inherit;
        text-align: center;
        margin: 2vh 15vw 0 15vw;
        font-size: 4vw;
    }
    
    ::placeholder {
      color: $color-secondary;
      opacity: 0.5;
    }
    
    button {
      display: flex;
      border: none;
      background-color: #2A0001;
      color: #fff1d6;
      border-radius: 60px;
      font-size: 3vh;
      padding: 2.5vh 20vw;
      margin-top: 8vh;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    }
    
    .cancelar{
        border: 0.5vw solid $color-secondary;
        font-size: 4vw;
        background-color: inherit;
        color: $color-secondary;
        border-radius: 60px;
        font-size: 3vh;
        padding: 2vh 10vw;
        margin-top: 2vh;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    }
}


/*HISTORICO*/
#historico {
  display: flex;
  align-items: center;
  flex-direction: column;
    
    .fixed-top {
        position: fixed;
        backdrop-filter: blur(2px);
    }
    .progress-navbar {
        padding: 3vh 0;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        width: 100vw;
    }
    .progress-navbar i {
        font-size: 5vw;
        text-align: center;
    }
    
    .progress-navbar button {
        position: center;
        width: 20vw;
        height: 12vw;
        background: #9B9B9B;
        border-radius: 10px;
        color: #2A0001;
    }
    
    .progress-navbar button:focus {
        background: #2A0001;
        color: #fff;
    }
    
    .progress-navbar .done {
        background: #698C5F;
    }
    
    .tabcontent {
        display: none;
        margin-top: 50vh;
        border-top: none;
        text-align: justify;
        font-family: "Roboto";
    }
    
    .aba {
        display: flex;
        color: #fff1d6;
        background-color: #2A0001;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border: none;
        width: 80vw;
        margin-bottom: 20vh;
    }
    
    .aba2 {
        display: flex;
        color: #fff1d6;
        background-color: #2A0001;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border: none;
        width: 80vw;
        margin-bottom: 20vh;
    }
    
    p.boxmodel1 {
        width: 300px;
        height: 50px;
        background: #2A0001;
        color: #FFF;
    }
}


/* PERFIL LOGADO */
#perfilogado{
    .progress-navbar {
        padding: 3vh 0;
        display: flex;
        justify-content: space-around;
    }
    p.boxmodel1 {   
        width: 250px;
        height: 250px;
        background: #2A0001;
        color: #FFF;
        position: relative;
    }
    
    button {
        display: flex;
        border: none;
        background-color: #2A0001;
        color: #fff1d6;
        border-radius: 60px;
        font-size: 3vh;
        padding: 2.5vh 20vw;
        margin-top: 10vh;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    }
}

/* EDITAR PEFIL*/

#editarperfil{
    display: flex;
    flex-flow: column nowrap;
    overflow: scroll;
    
    .top-navbar {
        flex-direction: column;
        align-items: center;
        align-content: center;
        height: 90vh;
        font-family: "Roboto";
    }

    .img-logo {
        width: 30vh;
        height: auto;
    }
    h2 {
      line-height: 3vh;
      text-align: center;
    }
    form {
      padding-top: 3vh;
      display: flex;
      flex-direction: column;
      align-content: center;
      flex-wrap: nowrap;
    }
    input {
        display: flex;
        border: none;
        border-bottom: 0.5vw solid $color-secondary;
        background-color: inherit;
        text-align: center;
        margin: 2vh 10vw 0 10vw;
        font-size: 4vw;
    }
    
    button {
      display: flex;
      border: none;
      background-color: #2A0001;
      color: #fff1d6;
      border-radius: 60px;
      font-size: 3vh;
      padding: 2vh 20vw;
      margin-top: 5vh;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    }
    
    .cancelar{
        border: 0.5vw solid $color-secondary;
        font-size: 4vw;
        background-color: inherit;
        color: $color-secondary;
        border-radius: 60px;
        font-size: 3vh;
        padding: 1vh 10vw;
        margin-top: 2vh;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    }
}

@keyframes slide-top-logoholder {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(30%);
    }
}

@keyframes slide-top-navbar {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

@keyframes slide-bck-left {
  0% {
    transform: translateZ(0) translateX(0);
  }
  100% {
    transform: translateZ(-400px) translateX(-200px);
  }
}

@-webkit-keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    opacity: 0;
  }
}
@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}
@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}
    

