$color-primary: #fff1d6;
$color-secondary: #2A0001;

body {
    margin: 0px;
    font-family: 'Roboto' !important;
    
    input{
        color: $color-secondary;
    }
    
    h2{
        text-transform: uppercase;
        font-weight: normal;
    }
    button{
        font-family: 'Roboto' !important;
    }
}

#container{
    display: flex;
    flex-direction: column; 
    flex-wrap: nowrap;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

#top-navbar{
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: auto;
    left: 0px;
    top: 0px;
    background-color: $color-primary;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.25);
    
    
    .img-logo{
        display: flex;
        height: 30vw;
        width: 30vw;
        padding: 2vw;
        
        transition: height 1s;
        transition: width 1s;
    }

    .top-itens{
        display: flex;
        flex-direction: column;
    }

    .top-itens-small{
        flex-direction: row;

        h2{
            margin: auto;
        }
    }   

    .title-aba{
        text-align: center;
        color: $color-secondary;
        line-height: 5vh;
        font-size: 7vw;
        margin: 0 0;
        line-height: 0;
        font-weight: bold;
        transition: font-size 1s;
    }
    
}

.top-navbar-big{
    text-align: center;
    flex-direction: column !important;
    .img-logo{
            height: 60vw !important;
            width: 60vw !important;
            margin: 0 auto;
        }
}

.title-aba-big{
    margin-bottom: 3vh !important;
    font-size: 5vw !important;
    line-height: 28px !important;
    font-weight: normal !important;
}

.tabcontent {
        display: none;
        border-top: none;
        text-align: justify;
        font-family: 'Roboto';
        max-height: 65vh;
        width: 80vw;
        overflow: scroll;
    
        transition: margin-top 1s;
}


#agendar{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto' !important;
    
    input{
        color: $color-primary !important;
    }
    
    .progress-navbar{
        padding-top: 3vh;
        padding-bottom: 0;
        margin: 0 10vw;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 80vw;
        justify-content: space-around;
        
        
        i{
            font-size: 2.5vh;
            text-align: center;
        }
        
        svg{
            height: 3.5vh;
            width: auto;
        }
        
        button{
            position: relative;
            width: 12vw;
            height: 12vw;
            background: #9B9B9B;
            border: none;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            color: $color-secondary;
        }
        
        .dot{
            margin-top: auto;
            margin-bottom: auto;
            font-size: 1.5vw;
            color: $color-secondary;
        }
        
        .inactive{
            pointer-events: none;
        }   
    }
    
     .divBotoes{
        display: flex;
        flex-direction: column;
        align-itens: center;
        padding-bottom: 0;
        line-height: 0;

            .fa-caret-up{
                display: none;
                font-size: 4vh;
                color: $color-secondary;
                vertical-align: text-bottom;
                padding-top: 1vh;
                line-height: 1vh;
            }
        }
    
    .active{
        button{
            background: $color-secondary;
            color: #fff;
        }
        .fa-caret-up{
            display: block;
        }
    }
    

    .tabcontent{
        background: $color-secondary;
        color: $color-primary;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        width: 80%;
        padding-bottom: 2vh;
        
        h2{
            font-size: 6vw;
            text-align: center;
        }
        
        button{
            color: $color-primary;
            display: flex;
            border: none;
            margin-bottom: 1vh;
            width: 100%;
            background-color: inherit;
            border-bottom: 1px solid $color-primary;
            padding: 2vw 3vh;
        } 
    }
    
    .done{
        background-color: #698C5F !important;
        transition: background-color 0.7s;
        -webkit-animation: blink 0.7s both;
	        animation: blink 0.7s both;
     }
    
    #tabUnidade{
        button{
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: 0 auto;
        }
        h3{
            margin-bottom: 1.5vh;
            line-height: 1vh;
        }
        p{
            margin: 0;
            font-size: 1.5vh;
        }
    }
    
    #tabServico{
        button{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-itens: center;
            font-family: 'Roboto' !important;
            width: 100%;
            width: 90%;
            margin: 0 auto;
        }
        .coluna{
            display: flex;
            flex-direction: column;
            text-align: left;
            p{
                font-size: 1.5vh;
                margin: 0;
            }
        }
        h3{
            margin-bottom: 1.5vh;
            line-height: 1vh;
        }
        .preco{
            margin: auto 0;
            font-size: 2vh;
        }
    }
    
    #tabBarbeiro{
        .barbeiro{
            
            width: 90%;
            margin: 0 auto;
            
            p{
                text-align: left;
                font-size: 4vw;
                margin-top: 3vw;
                margin-left: 5vw;
                line-height: 4vw;
            }
            
            img{
                border-radius: 50%;
                width: 15vw;
                height: auto;
                border: 2px solid $color-primary;
            }
            
            i{
                color: #FFD075;
                font-size: 3vw;
            }
        }
    }
    
    #tabHorario{
        background-color: inherit;
        border: none;
        box-shadow: none;
        overflow: scroll;
        
        h2{
            margin-top: 0;
            padding-top: 2.5vh;
            margin-bottom: 0;
        }
        
        .tabBg{
            background-color: $color-secondary !important;
            margin-top: 0;
            border-radius: 20px;
             box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
        }
        .horarios{
            overflow: hidden;
            margin: 0 4vw;
            background: $color-primary !important;
            border-radius: 0 0 20px 20px;
             box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
            
            h2{
                margin: 0;
                font-size: 2.5vh;
                padding-top: 1vh;
                padding-left: 2vw;
                color: $color-secondary;
            }
        }
        .disponiveis{
            display: flex;
            flex-grow: row nowrap;
            overflow: scroll;
        }
        .opcao{
            margin: 2vh 0 2vh 3vw;
            padding: 1vh 4vw;
            background: $color-secondary;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            border: none;
            font-family: 'Roboto';
            font-size: 2vh;
            text-align: center;
        }
    } 
    
    #myCalendar{
        border-radius: 20px;
        margin-top: 0 !important;
        margin: 1vh 2vw;
        padding-bottom: 1vh;
    }
    
    #tabResumo{
        background-color: inherit;
        border: none;
        box-shadow: none;
        overflow: scroll;
        height: auto;

        .resumo{
            padding-bottom: 5vh;
            display: inline;
            
            .line{
                display: flex;
                flex-direction: column;
                align-content: center;
                align-items: center;
                padding-bottom: 0.1vh;
            }
            
            i, svg{
                color: #700C0E;
                padding: 0 0vw;
                position: relative;
                opacity: 0.4;
                bottom: 8vw;
                right: 20vw;
                font-size: 8vw;
                height: 8vw;
                width: auto;
                box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }
        
        h2{
            padding: 1.5vh;
            margin: 0;
            text-align: center;
        }
        
        p{
            font-size: 3.5vw;
            margin: 0;
            color: $color-primary;
            font-weight: bold;
            padding: 0;
        }

        .filler{
            color: white;
            font-weight: normal;
            font-size: 3vw;
        }
        
        .tabBg{
            background-color: $color-secondary !important;
            margin-top: 0;
            border-radius: 20px;
             box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
             padding-bottom: 3vh;
        }
        
        button{        
            display: flex;
            border: none;
            background-color: $color-secondary;
            color: $color-primary;
            border-radius: 60px;
            font-size: 5vw;
            padding: 2.5vh 28vw;
            margin-top: 2vh;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
            text-align: center;
        }
    }
    
}

 

iframe{
    position: relative;
    border: none;
    width: 100%;
    height: 90vh;
    overflow: auto;
}


#bottom-navbar {
    background-color: $color-secondary;
    display: flex;
    position: fixed;
    bottom: 0;
    max-height: 10vh;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    
    button {
        position: relative;
        background-color: $color-secondary;
        width: 20vw;
        height: 20vw;
        border: 0px;
        line-height: 2.5vh;
        font-size: 3vw;
        text-align: center;
        color: $color-primary;
    }
    
    button.active {
        background: #f2f2f2;
        border-radius: 25px;
        color: $color-secondary;
        animation: slide-top-navbar 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    
    .navbar-bg{
        background: #f2f2f2;
    }

    i{
        font-size: 4vw;
    }

    .buttons-navegation{
        display: flex;
        flex-direction: row;
    }

}


#perfil, #perfil-senha, #perfil-editar{
    display: flex;
    flex-wrap: nowrap;
    
    .top-navbar{ 
        flex-direction: column;
        align-items: center;
        align-content: center;
        height: 90vh;
        font-family: 'Roboto';
        border-radius: 0 0 60px 60px;
    }
    
    .img-logo{
        width: 30vh;
        height: auto;
    }
    
    h2{
        font-size: 5vw;
        color: $color-secondary;
        padding-top: 1vh;
        line-height: 5vw;
        text-align: center;
        font-weight: normal;
        margin: 0 15vw;
    }
    
    form{
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: nowrap;
    }
    
    input{
        display: flex;
        border: none;
        border-bottom: 3px solid $color-secondary;
        background-color: inherit;
        text-align: center;
        padding-top: 2vh;
        margin-top: 2vh;
        font-size: 5vw;
        color: $color-secondary;
    }
    
    
    ::placeholder{
        color: $color-secondary;
        opacity: 0.8;
    }
    
    button{
        display: flex;
        border-radius: 60px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    }
    
    .continuar{
        margin-top: 8vh;
        background-color: $color-secondary;
        color: $color-primary;
        font-size: 5vw;
        padding: 2.5vh 20vw;
        border: none;
    }

    .cancelar{
        margin-top: 2vh;
        font-size: 4vw;
        padding: 2vh 8vw;
        color: $color-secondary;
        background-color: inherit;
        border: 4px solid $color-secondary;
    }
    
    .progress-bar{

        margin: 0.5vh auto 2vh auto;
        color: $color-secondary;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 80%;
        text-align: center;
        line-height: 0;
        font-size: 2vh;
        pointer-events: none;
        

        hr{
            width: 100%;
            height: 0.5vh;
            background-color: $color-secondary;
            margin: 0.8vh -0.5vw 0 -0.5vw;
            border: none;
        }
        
    }
    
}

#perfil-editar{
    
    h2{
        font-size: 5vw;
        color: $color-secondary;
        padding-top: 1vh;
        margin: 0;
        line-height: 0;
        text-align: center;
    }
    
    form {
      padding-top: 3vh;
      display: flex;
      flex-direction: column;
      align-content: center;
      flex-wrap: nowrap;
    }
    input {
        display: flex;
        border: none;
        border-bottom: 4px solid $color-secondary;
        background-color: inherit;
        text-align: center;
        margin: 0 10vw 0 10vw;
        font-size: 4vw;
    }
}


    

#cadastro {
    
    h3{
        font-style: normal;
        color: $color-secondary;
        text-align: center;
        margin: 3vh 20vw 4vh 20vw;
        font-size: 4vw;
        font-weight: normal;
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: nowrap;
    }
    
    input {
        display: flex;
        border: none;
        border-bottom: 0.4vw solid $color-secondary;
        background-color: inherit;
        text-align: center;
        margin: 1.5vh 20vw 0 20vw;
        font-size: 4vw;
    }
    
    ::placeholder {
      color: $color-secondary;
      opacity: 0.5;
    }
    
    button {
      display: flex;
      border: none;
      background-color: $color-secondary;
      color: $color-primary;
      border-radius: 60px;
      font-size: 4vw;
      padding: 2.5vh 20vw;
      margin-top: 8vh;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    }
    
    .cancelar{
        margin-top: 1vh;
        font-size: 4vw;
        padding: 2vh 8vw;
        color: $color-secondary !important;
        background-color: inherit;
        border: 4px solid $color-secondary;
    }
    
    .progress-bar{

        margin: 2vh auto 0 auto;
        color: $color-secondary;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 80%;
        text-align: center;
        line-height: 0;
        font-size: 2vh;
        pointer-events: none;
        

        hr{
            width: 100%;
            height: 0.5vh;
            background-color: $color-secondary;
            margin: 0.8vh -0.5vw 0 -0.5vw;
            border: none;
        }
        
    }
}

#historico {
  display: flex;
  align-items: center;
  flex-direction: column;
    
    .top-navbar{
        width: 100%;
    }
    
    .tabcontent {
        display: none;
        font-size: 3.5vw;
        max-height: 85vh;
        overflow: scroll;
        border: none;
        font-family: "Roboto";
        background-color: $color-secondary;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }
    
    .progress-navbar {
        padding-top: 3vh;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;
        width: 80vw;

    
        button {
            position: center;
            font-size: 3vw;
            width: 25vw;
            height: 12vw;
            background-color: $color-primary;
            border-radius: 10px;
            color: $color-secondary;
            border: 3px solid $color-secondary;
            font-weight: bold;
            
        } 

        .active {
            background-color: $color-secondary;
            color: #fff;
            margin-top: 1vh;
            border-radius: 10px 10px 0px 0px;
            
            transition: margin-top 0.5s;
        }
    
    }
    
    .atendimento {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        
        color: $color-primary;
        width: auto;
        height: 50px;
        padding: 2vh 0 2vh 5vw;
        
        .infos i{
            padding-right: 3vw;
        }
        
        .avaliar{
            text-align: center;
            margin: auto auto;
            p{
                margin: 0;
                font-size: 2.5vw;
            }
        }
        
    }
}

#perfilogado {
    
    color: $color-secondary;
    
    h3{
        font-style: normal;
        color: $color-secondary;
        text-align: center;
        margin: 3vh auto;
        font-size: 5vw;
        font-weight: normal;
    }
    
    .informacoes{
        margin-left: 10vw;
        display: flex;
        flex-direction: column;
        width: 80vw;
    }
    
    .infos {
        align-items: center;
        display: flex;
        background-color: inherit;
        text-align: left;
        font-size: 4vw;
        flex-direction: row;
        margin-top: 1vh;
        border-bottom: 1px solid $color-primary;
        
        i{
            margin-right: 5vw;
        }
        
        p{
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    ::placeholder {
      color: $color-secondary;
      opacity: 0.5;
    }
    
    button {
      display: flex;
      border: none;
      background-color: $color-secondary;
      color: $color-primary;
      border-radius: 60px;
      font-size: 4vw;
      padding: 2.5vh 20vw;
      margin-top: 8vh;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);    
    }
}















@media screen and (min-width: 768px){

    #conteudo{
        background-image: url(./src/background.jpg);
        background-size: cover;
    }
    #top-navbar, .top-navbar-big{
        position: relative;
        flex-direction: column;
        flex-wrap: nowrap;
        align-self: flex-start;
        width: 18vw;
        height: 100vh;
        top: 0vw;
        border-radius: 0px 30px 30px 0px;
        z-index: 3;

        .top-itens{
            margin-top: auto;
            margin-bottom: auto;
        }

        .img-logo{
            height: 17vw !important;
            width: 17vw !important;
            padding: 2vw;
            margin: 0;
        }
    

        .title-aba{
            font-size: 1.5vw !important;
            line-height: 5vh;
            margin: 0 0;
            line-height: 0;
            font-weight: bold;
        }

        .top-itens-small{
            flex-direction: column;
        }
    }

    #bottom-navbar {
        position: relative;
        top: 0;
        z-index: 1;
        max-height: 5vw;
        justify-content: flex-end;

        .buttons-navegation{
            margin-right: 5vw;
            display: flex;
            flex-direction: row;
            width: 20vw;
            justify-content: space-between;
        }
        
        button {
            position: relative;
            background-color: $color-secondary;
            width: 7vw;
            height: 5vw;
            line-height: 2vh;
            font-size: 1vw;
        }
        
        button.active {
            background: #f2f2f2;
            border-radius: 25px;
            color: $color-secondary;
            animation: slide-bottom-navbar 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
        
        .navbar-bg{
            background: #f2f2f2;
        }

        .active{
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
        }

        i{
            font-size: 2vw;
            padding-bottom: 1vh;
        }
    } 
    
    #agendar{
    
        display: flex;
        align-items: center;
        flex-direction: row;
        font-family: 'Roboto' !important;
        margin-right: 2vw;
        
        input{
            color: $color-primary !important;
        }

        .progress-navbar{
            padding-top: 0vh;
            padding-bottom: 0;
            margin: 0 2vw;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            width: auto;
            justify-content: space-around;

            button{
                width: 5vw;
                height: 5vw;
                margin: 1vh 0;
            }

            .divBotoes{
                display: flex;
                flex-direction: row;
                align-itens: center;
                vertical-align: center;
                padding-bottom: 0;
                line-height: 0;
        
                    .fa-caret-up{
                        display: none;
                        font-size: 4vh;
                        vertical-align: center;
                        top: auto;
                        bottom: auto;
                        background: red;
                    }
                }
            }


            .tabcontent{
                overflow-x: hidden;
                overflow-y: scroll;
                min-height: 65vh;
                h2{
                    font-size: 2vw;
                }
            }


            #tabBarbeiro{
                .barbeiro{
                    width: 90%;
                    margin: 0 auto;
                    vertical-align: center;
                    
                    p{
                        text-align: left;
                        margin-top: auto;
                        margin-bottom: auto;
                        font-size: 1.5vw;
                        line-height: 2vh;

                        i{
                            font-size: 1vw;
                        }
                    }
                    
                    img{
                        border-radius: 50%;
                        width: 7vw;
                        height: auto;
                        border: 2px solid $color-primary;
                    }
                }
            }

            #myCalendar{
                margin: 4vh 6vw;
                padding-bottom: 3vh;
            }

            #tabResumo{
                button{        
                    font-size: 2.5vh;
                    padding: 1vh 10vw;
                    align-content: center;
                    width: auto;
                }

                height: auto;
        
                .resumo{
                    padding-bottom: 5vh;
                    display: inline;
                    
                    .line{
                        display: flex;
                        flex-direction: column;
                        align-content: center;
                        align-items: center;
                        padding-bottom: 0;
                    }
                    
                    i, svg{
                        color: #700C0E;
                        opacity: 0.5;
                        bottom: 2vw;
                        right: 15vw;
                        font-size: 2.5vw;
                        height: 2.5vw;
                        width: auto;
                        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }

                }
                
                h2{
                    padding: 1.5vh;
                    margin: 0;
                    text-align: center;
                }
                
                p{
                    font-size: 1.5vw;
                    margin: 0;
                    color: $color-primary;
                    font-weight: bold;
                    padding: 0;
                }
        
                .filler{
                    color: white;
                    font-weight: normal;
                    font-size: 1vw;
                }
            }
        }

    #historico {
        
        display: flex;
        align-items: center;
        flex-direction: row;
        font-family: 'Roboto' !important;
        margin-right: 2vw;
        
        input{
            color: $color-primary !important;
        }
    
    .progress-navbar {
        padding-top: 3vh;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;
        width: 80vw;

    
        button {
            position: center;
            align-content: center;
            font-size: 3vw;
            width: 18vw;
            height: 5vw;
            background-color: $color-primary;
            border-radius: 10px;
            color: $color-secondary;
            border: 3px solid $color-secondary;
            font-weight: bold;
            
        } 

        .active {
            background-color: $color-secondary;
            color: #fff;
            margin-top: 1vh;
            border-radius: 10px 10px 0px 0px;
            
            transition: margin-top 0.5s;
        }
    
    }
    
           .tabcontent {
        display: none;
        position: center;
        align-content: center;
        font-size: 3.5vw;
        min-height: 85vh;
        min-width: 60vw;
        overflow: scroll;
        border: none;
        font-family: "Roboto";
        background-color: $color-secondary;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }
        
    .atendimento {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        
        color: $color-primary;
        width: auto;
        height: 50px;
        padding: 2vh 0 2vh 5vw;
        
        .infos i{
            padding-right: 3vw;
        }
        
        .avaliar{
            text-align: center;
            margin: auto auto;
            p{
                margin: 0;
                font-size: 2.5vw;
            }
        }
        
    }
    
    
    
    
    }       

    #perfil-logado, #cadastro {
    
        display: flex;
        align-items: center;
        flex-direction: row;
        font-family: 'Roboto' !important;
        margin-right: 2vw;
        
        input{
            color: $color-primary !important;
        }

        .progress-navbar{
            padding-top: 0vh;
            padding-bottom: 0;
            margin: 0 2vw;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            width: auto;
            justify-content: space-around;

            button{        
                    font-size: 2.5vh;
                    padding: 1vh 10vw;
                    align-content: center;
                    width: auto;
                    height: auto;
                }

        }       
}

#perfil, #perfil-senha, #perfil-editar{
    
        display: flex;
        align-items: center;
        flex-direction: row;
        font-family: 'Roboto' !important;
        margin-right: 2vw;
        
        input{
            color: $color-primary !important;
        }

        .progress-navbar{
            padding-top: 0vh;
            padding-bottom: 0;
            margin: 0 2vw;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            width: auto;
            justify-content: space-around;

            button{        
                    font-size: 2.5vh;
                    padding: 1vh 10vw;
                    align-content: center;
                    width: auto;
                    height: auto;
                }

        }       

    
    form{
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: nowrap;
    }
    
    input{
        display: flex;
        border: none;
        border-bottom: 3px solid $color-secondary;
        background-color: inherit;
        text-align: center;
        padding-top: 2vh;
        margin-top: 2vh;
        font-size: 5vw;
        color: $color-secondary;
    }
    
    
    ::placeholder{
        color: $color-secondary;
        opacity: 0.8;
    }
    
    button{
        display: flex;
        border-radius: 60px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    }
    
    .continuar{
        margin-top: 8vh;
        background-color: $color-secondary;
        color: $color-primary;
        font-size: 5vw;
        padding: 2.5vh 20vw;
        border: none;
    }

    .cancelar{
        margin-top: 2vh;
        font-size: 4vw;
        padding: 2vh 8vw;
        color: $color-secondary;
        background-color: inherit;
        border: 4px solid $color-secondary;
    }
    
    .progress-bar{

        margin: 0.5vh auto 2vh auto;
        color: $color-secondary;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 80%;
        text-align: center;
        line-height: 0;
        font-size: 2vh;
        pointer-events: none;
        

        hr{
            width: 100%;
            height: 0.5vh;
            background-color: $color-secondary;
            margin: 0.8vh -0.5vw 0 -0.5vw;
            border: none;
        }
        
    }
    
}



}

@keyframes slide-top-logoholder {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(30%);
    }
}

@keyframes slide-top-navbar {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

@keyframes slide-bottom-navbar {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px);
    }
}

@keyframes slide-bck-left {
  0% {
    transform: translateZ(0) translateX(0);
  }
  100% {
    transform: translateZ(-400px) translateX(-200px);
  }
}

@-webkit-keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    opacity: 0;
  }
}
@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}
@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}
